header .link a:first-child {
    background: url(../images/github.png) no-repeat center center;
    background-size: cover;
}

header .link a:nth-child(2) {
    background: url(../images/sina.png) no-repeat center center;
    background-size: 100% auto;
}

header .link a:nth-child(3) {
    background: url(../images/QQ.png) no-repeat center center;
    background-size: 100% auto;
}